body{
    background-color: rgba(3, 49, 255, 0.425);
}

nav{
    width: 100%;
}

nav ul{
    background: blue;
    padding : 0 0px;
    list-style: none;
    position: relative;
    width: 100%;
    font-family: 'helvetica' 'arial'; 
    margin-top: -5px;  
}

nav ul:after{
    content: "";
    clear: both;
    display: block;
}

nav ul li{
    float: left;
}

nav ul li:hover{
    background-color: #dfdede;
}

nav ul li a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    color: #fff;
    background-color: #dfdede;
}

nav ul ul{
    display: none;
    background: blue;
    padding: 0;
    position: absolute;
    top: 100%;
    max-width: 300px;
    width: auto;
}

nav ul ul li{
    float: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    position: relative;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li a {
    padding: 10px 40px;
    color: #fff;
}

nav ul ul li a:hover{
    background-color: #b4b0b0;
}

nav ul ul ul{
    position: absolute;
    left: 100%;
    top: 0;
    width: 200px;
}

.title{
    padding: 3px 0px 0px 10px;
    color:#fff;
    font-weight: bold;
}

.image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 30px 0px 0px 0px;
}

.header{
    margin: 50px 0px 0px 0px;
}


/* register style */

.form{
    background-color: aqua;
    width: 300px;
    height: 200px;
    margin: auto;
    border-radius: 10px;
}

table{
    padding: 20px 5px 20px 5px;
}

.inputregister{
    border-radius: 10px;
    height: 30px;
    width: auto;
    margin: 5px 0px 5px 0px;
}

